.form-container {
  padding-top: 80px;
  padding-bottom: 10px;

  h1 {
    margin-bottom: 20px;
    padding-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
  }
}
.form {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #f2f2f2;
  border-radius: 10px;

  br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 34%;
  }
  input {
    outline: 0;
  }

  input[type="radio"] {
    margin-right: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: solid rgba(0, 0, 0, 0.42) 1px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
  }
  input[type="radio"]:checked {
    background-color: rgba(0, 0, 0, 1);
    border: solid rgba(0, 0, 0, 1) 1px;
  }

  input[type="name"] {
    margin-bottom: 30px;
  }
  input[type="name"],
  input[type="number"] {
    border-bottom: solid black 1px;
    background-color: transparent;
    padding-left: 5px;
    font-size: 0.9em;
    max-width: 100%;
  }
  .otherOption {
    margin-left: 5px;
    position: relative;
    top: -5px;
  }
  p {
    font-weight: 500;
  }
  button {
    border: solid 1px black;
    padding: 5px 15px;
    margin-top: 15px;
    margin-left: auto;
    border-radius: 5px;
  }
  button:hover,
  button:active {
    background-color: black;
    color: white;
  }
}

.required:after {
  content: " *";
  color: red;
}
