.process {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
}
.process__container {
  margin-top: 300px;
  background-image: url("../../images/about.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0;
  color: white;
}
.process em {
  font-size: 1.4em;
  line-height: 2;
}

.process h1 {
  font-size: 3.2em;
  margin-bottom: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .process em {
    font-size: 1.2em;
  }

  .process h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
  }
}
