.barb {
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: x-large;
}

.barb__cta {
  display: none;
}
.barb__detail2 {
  text-decoration: underline;
  margin-top: 15px;
}
.barb__detailx {
  margin-top: 15px;
}
.barb:hover .barb__cta,
.barb:focus .barb__cta {
  border: solid white 1px;
  color: white;
  padding: 10px 30px;
  display: flex;
  cursor: pointer;
  margin-top: 15px;
  font-size: large;
}

.all {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

.awssld {
  margin-top: 250px;
  box-sizing: border-box;
  background-color: white;
  background: white;
  height: 600px;
}
.awssld__content {
  background-color: white;
}
.barb:hover,
.barb:focus {
  background: black;
  font-size: small;
}

.content {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.one {
  background-image: url("../../images/edgar-chaparro-m8UvH75I2lI-unsplash.png");
}

.two {
  background-image: url("../../images/pexels-caio-1.png");
}
.three {
  background-image: url("../../images/pexels-andrea-piacquadio-3801426.png");
}

.four {
  background-image: url("../../images/nesa-by-makers-kwzWjTnDPLk-unsplash-1.png");
}
