.header {
  width: 100%;
  /* max-width: 2000px; */
  /* margin: 0 auto; */
  display: flex;
  height: 50px;
  /* border-bottom: black solid 1px; */
  position: fixed;
  top: 0;
  /* background-color: white; */
  /* border: solid red 1px; */
  z-index: 10000;
}

.header__logo {
  flex-basis: 75%;
  box-sizing: border-box;
  padding-left: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.header__logo em {
  padding-right: 5em;
}
.header__logo img {
  width: 150px;
  height: auto;
  position: relative;
  left: -5px;
}

.header__options {
  flex-basis: 25%;
  display: flex;
  width: max-content;
  max-width: 300px;
}
.header__options a {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}
.header__options a:hover {
  color: white;
  background-color: black;
}

.header__vertical {
  border-right: solid black 1px;
}

@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    display: flex;
    height: 50px;
    /* border-bottom: black solid 1px; */
    /* font-size: x-small; */
  }

  .header__logo {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .header__logo * {
    margin-left: 0;
  }
  .header__logo em {
    padding-right: 1em;
  }
  .header__logo img {
    width: 150px;
    height: auto;
  }

  .header__options {
    flex-basis: 50%;
    display: flex;
  }
}

@media screen and (max-width: 374px) {
  .header {
    font-size: small;
  }
}
