.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  padding: 20px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  font-size: small;
  font-weight: 550;
}
.col span {
  margin-bottom: 20px;
}

.logo {
  text-align: left;
  font-size: large;
}
.logo img {
  width: 150px;
  height: auto;
  position: relative;
  left: -8px;
}

@media screen and (min-width: 768px) {
  .footer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 7rem;
    width: 100%;
  }
  .col__container {
    display: flex;
  }
  .col {
    margin: 0 20px;
    font-size: small;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 7rem;
    width: 100%;
  }
  .col__container {
    display: flex;
  }
  .col {
    margin: 0 30px;
  }
}
