.begin {
  text-align: center;
  margin: 200px 0;
}
.begin button {
  border: solid black 1px;
  padding: 10px 20px;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 43px;
  outline: 0;
}
.begin button:hover {
  background-color: black;
  border: solid black 1px;
  color: white;
}
.begin h3 {
  font-size: 1.8em;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .begin {
    margin: 10p0x 0;
  }
}
