.App {
  background: url("./images/Dotted cercles (16).png");
}
body,
html {
  padding: 0;
  margin: 0;
}
.AppMain {
  /* max-width: 1600px; */
}

.AppForm {
  background: url("./images/dotted.jpg");
  background-size: 100vw;
  min-height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Overpass", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

button {
  outline: none;
}
